<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WallChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <WallChanger.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en_AU</value>
            </setting>
            <setting name="FallbackLanguage" serializeAs="String">
                <value>en_AU</value>
            </setting>
            <setting name="CurrentConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressionLevel" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DefaultRandomise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOffset" serializeAs="String">
                <value>0 h</value>
            </setting>
            <setting name="DefaultInterval" serializeAs="String">
                <value>1 m</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightColour" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
            <setting name="GlobalRandomise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalFading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalWallpaperStyle" serializeAs="String">
                <value>False</value>
            </setting>
        </WallChanger.Properties.Settings>
    </userSettings>
</configuration>
