<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WallChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <WallChanger.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en_AU</value>
            </setting>
            <setting name="FallbackLanguage" serializeAs="String">
                <value>en_AU</value>
            </setting>
            <setting name="CurrentConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="CompressionLevel" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DefaultRandomise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOffset" serializeAs="String">
                <value>0 h</value>
            </setting>
            <setting name="DefaultInterval" serializeAs="String">
                <value>1 m</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightColour" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
            <setting name="GlobalRandomise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalFading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalWallpaperStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalPreProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPreProcessingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultBrightnessEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultBrightnessValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSaturationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSaturationValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultContrastEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultContrastValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultHueEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultHueValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultGaussianBlurEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultGaussianBlurSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultGaussianSharpenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultGaussianSharpenSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultPixelateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPixelateSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultVignetteEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultVignetteColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultTintEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTintColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DefaultEdgeDetectionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultImageFilterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </WallChanger.Properties.Settings>
    </userSettings>
</configuration>
